player-connection-mode=Listen
player-connection-guid=543819576
player-connection-debug=0
player-connection-project-name=Twin-Stick-Turmoil
player-connection-ip=10.0.0.118
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=42b9890694474869b6e098e9bb93bcbc
